<!DOCTYPE html>
<html lang="en" >
 
<head>
     <meta charset="UTF-8">
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="/client/file.css">
     <title>Voting App</title>
    
</head>

<body ng-app="myApp">
<div class="container" ng-controller="mainController" >
   <label class="control-label" for="header_title"><h1 class="header">Poll List</h1></label>
   <h2 class="header">Hi {{userdata.username}}!</h2>

      <div class="container-fluid" >
         
         <div class="col-sm-9">                 
             <form class="form-group">
                  
                 Poll Title <input type="text" ng-model="pollName"> 
                 Poll Items <input type="text-box" ng-model="items"> 
                 <button ng-click="newPoll(pollName,items)">Add New Poll</button>    
                
                 
             </form> 
             
         </div>
             
          <div class="col-xs-8 col-sm-6">    
             <div class="container" ng-repeat="poll in polls">
                     <form class="form-inline">
                         <h3 class="poolTitle" id="poolTitle" class="header" ng-model="poll">{{ poll.title }}</h3> 
                            <label for="text">I'm voting for:</label> 
                               <select ng-model="selectedName" ng-options="type as type.item for type in poll.list" ng-init="selectedName = poll.list[0]"  > 
                                    <th><option ng-options="type in poll.list" value="{{ type.item }}">{{ type.item }}</option>   
                               </select> 
                               <span  ng-repeat="voter in poll.voters track">
                                   <button type="button" class="btn btn-success btn-xs" ng-hide="userdata.userid == voter" ng-click="vote(poll,selectedName,selectedName.item)">Vote</button>
                               </span>
                               <button type="button" class="btn btn-default btn-xs" ng-click="drawChart(poll.title)">See Chart</button>
                               <button type="button" class="btn btn-default btn-xs" ng-show="isOwner(poll.owner,userdata.userid)">Edit</button>
                             
                  <!--      <h1>Currently selected: {{poll.title}} Item: {{selectedName.item}} </h1>
                        <h1>Currently selected: {{poll.title}}  {{string_API}} </h1>  -->
                        
      
                      </form>    
             </div>
          </div>
            
         <div class="col-xs-4 col-sm-6 ">
                <h3 class="voted">{{alertVoted}}</h3>
                <div google-chart chart="chart" style="border:0px inset black;padding:0;width:400px">   </div>
           </div>

   </div>
</div>
<!--          
   <p>-------------------</p>
    
         
    <table>
     <tr ng-repeat="poll in polls">
          <th>{{ poll  }}</th>
          
     </tr>
   </table>
    
</div>
    
-->    
    
</body>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/client/client.js"></script>
    <script src="/bower_components/angular-google-chart/ng-google-chart.js"></script>

</html>

