<!DOCTYPE html>
<html lang="en" >
 
<head>
     <meta charset="UTF-8">
    
     <title>Voting App</title>
    
</head>

<body ng-app="myApp">
<div class="container container-fluid" ng-controller="mainController" >
    <br/>
  <div class="title_header"    
   <label class="control-label" for="header_title"><h1 class="header_main">Poll List</h1></label>
   <button type="button" class="btn btn-info btn-xs" ng-hide="userdata.username == undefined" ng-click="logout()" ng-cloak>Logout: {{userdata.username}}</button>
  </div>
   <br/>
          
         <div class="col-sm-12">                 
             <form class="form-group add-poll">
                 Poll Title <input type="text" ng-model="pollName"> 
                 Poll Items <input type="text-box" ng-model="items" data-toggle="tooltip" data-placement="left" title="Separated by comma"> 
                 <button type="button" class="btn btn-success btn-xs" ng-cloak ng-click="newPoll(pollName,items)">Add New Poll</button>
             </form> 
         </div>
             
         
         <div class="col-xs-8 col-sm-6">
             <table class="table table-hover" ng-repeat="poll in polls" ng-model="poll" ng-cloak>
              <tbody>
                      <tr>
                           <td class="cell_title">{{ poll.title }}</td>
                           <td style="width:10%" > <button type="button" class="btn btn-info btn-xs" ng-click="drawChart(poll.title)" ng-cloak>See Chart</button></td> 
                      </tr>
                      
                      <tr ng-hide="poll.voters.lastIndexOf(userdata.userid) != -1">
                           <td>
                              <label for="text" ng-cloak>I'm voting for:</label> 
                              <select ng-model="selectedName" ng-options="type as type.item for type in poll.list" ng-init="selectedName = poll.list[0]"> 
                                    <option ng-options="type in poll.list" ng-cloak value="{{ type.item }}">{{ type.item }}</option>   
                              </select> 
                           </td>
                           <td style="width:10%">
                              <button type="button" class="btn btn-success btn-xs" ng-hide="poll.voters.lastIndexOf(userdata.userid) != -1" ng-click="vote(poll,selectedName,selectedName.item)" ng-cloak>Vote</button>       
                           </td> 
                      </tr>
                      
                      
                      <tr ng-show="isOwner(poll.owner,userdata.userid)" >
                           <td colspan="2" > <button type="button" class="btn btn-danger btn-xs" ng-dblclick="removePoll(poll.title)" data-toggle="tooltip" data-placement="left"
                           title="Double Click To Delete" ng-cloak>Delete My Poll</button></td>
                      </tr>
                 </tbody>
               </table>
             
         </div>   
            
         <div class="col-xs-4 col-sm-6">
               <div class="alert alert-success" role="alert" ng-cloak ng-show="alertVoted">
                       {{alertVoted}}
               </div>
               <div google-chart chart="chart" style="border:0px inset black;padding:0;width:300px">   </div>
         </div>

   </div>
    
</body>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/client/client.js"></script>
    <script src="/bower_components/angular-google-chart/ng-google-chart.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/client/file.css">

</html>

