<!DOCTYPE html>
<html lang="en" >
 
<head>
     <meta charset="UTF-8">
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
     
     <title>Timestamp Microservice</title>
    
</head>

<body ng-app="myApp">
    
<div class="container" ng-controller="voteController">
    <h1 class="header">Pools List</h1>

   <div class="container" ng-repeat="poll in polls">
       <h1 class="header">{{ poll.title }}</h1>
       <p>I'm voting for:</p>
       <select ng-repeat="type in poll.list">
            <option value="{{ type }}">{{ type }}</option>
            
      </select> 
      <button function="vote()">Vote</button>
   
   </div>

   <p>-------------------</p>
   
   
    <table>
     <tr ng-repeat="poll in polls">
          <td>{{ poll.title }}</td>
          <td ng-repeat="type in poll.list">{{ type }}</td>
     </tr>
   </table>
    
</div>
    
<div class="container" >
    <h1 class="header">Favourite Cars</h1>
    <p>I'm voting for:</p>
    <select>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
   </select> 
   <button function="vote()">Vote</button>
   
</div>
</body>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/client/client.js"></script>

</html>

