<!DOCTYPE html>
<html lang="en" >
 
<head>
     <meta charset="UTF-8">
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="/client/file.css">
     <title>Timestamp Microservice</title>
    
</head>

<body ng-app="myApp">
    
<div class="container" ng-controller="mainController" >
   <h1 class="header">Pools List</h1>
   
       
            <div class="container" ng-repeat="poll in polls">
               
               <form class="form-inline">
                   <h3 id="poolTitle" class="header">{{ poll.title }}</h3> 
                   <label for="text">I'm voting for:</label> 
                       
                         <select ng-model="selectedName" ng-options="type as type.item for type in poll.list"  > 
                     <!--       <th><option ng-options="type in poll.list" value="{{ type.item }}">{{ type.item }}</option>  -->
                         </select> 
                   
                  <button ng-click="vote()">Vote</button>
                  <h1>Currently selected: {{selectedName.item}} </h1>
                  <h1>Currently selected: {{string_API}} </h1>
                  
                </form>    
            </div>
      
   <p>-------------------</p>
    
         
    <table>
     <tr ng-repeat="poll in polls">
          <th>{{ poll  }}</th>
          
     </tr>
   </table>
    
</div>
    
</body>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/client/client.js"></script>

</html>

