<!DOCTYPE html>
<html lang="en" >

<head>

     <meta charset="UTF-8">
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="/client/file.css">
     <title>Voting App</title>

</head>

<body ng-app="myApp">
<div class="container">
   <div class="container-fluid" ng-controller="mainController" >
       <form class="form-inline">
              <label class="control-label" for="header_title"><h1 class="header">Poll List</h1></label>
               <a href="/auth/twitter"><img src="/client/signin.png"/></a>
           </form>     
      
      <div class="col-sm-3">
      
               <div class="container" ng-repeat="poll in polls">
                  <form class="form-inline">
                      <label class="control-label" for="poll_name"> <h4 class="pollTitle" id="pollTitle" class="header" ng-model="poll">{{ poll.title }}</h4></label>
                      <button type="button" class="btn btn-default btn-xs" ng-click="drawChart(poll.title)">See Chart</button>
                   </form>
               </div>
       </div>
       
       
       
       <div class="col-sm-9">
          
             <div google-chart chart="chart" style="border:0px inset black;padding:0;width:400px">   </div>
   
       
        </div>
       
       
   </div>
</div>

</body>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/client/client.js"></script>
    <script src="/bower_components/angular-google-chart/ng-google-chart.js"></script>

 
   


   
   
 
    
    
</html>

