<!DOCTYPE html>
<html lang="en" >

<head>

     <meta charset="UTF-8">
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="/client/file.css">
     <title>Voting App</title>

</head>

<body ng-app="myApp">
<div class="container container-fluid" ng-controller="mainController" >
   
       <form class="form-inline">
              <label class="control-label" for="header_title"><h1 class="header_main">Poll List</h1></label>
               <a href="/auth/twitter"><img src="/client/signin.png"/></a>
       </form>     
      <br/><br/>
      <div class="col-sm-3">
         
         <table class="table table-striped table-hover" ng-repeat="poll in polls" ng-model="poll" ng-cloak>
              
              <tbody>
                <tr>
                  <td>{{ poll.title }}</td>
                  <td style="width:30%" > <button type="button" class="btn btn-info btn-xs" ng-click="drawChart(poll.title)" ng-cloak>See Chart</button></td> 
                </tr>
                
                <tr ng-hide="poll.voters.lastIndexOf(myip) != -1">
                           <td>
                              <label for="text" ng-cloak>I'm voting for:</label> 
                              <select ng-model="selectedName" ng-options="type as type.item for type in poll.list" ng-init="selectedName = poll.list[0]"> 
                                    <option ng-options="type in poll.list" ng-cloak value="{{ type.item }}">{{ type.item }}</option>   
                              </select> 
                           </td>
                           <td style="width:10%">
                              <button type="button" class="btn btn-success btn-xs" ng-hide="poll.voters.lastIndexOf(myip) != -1" ng-click="voteIp(poll,selectedName,selectedName.item,myip)" ng-cloak>Vote</button>       
                           </td> 
                 </tr>
               
              </tbody>
            </table>

       </div>
 
    
       <div class="col-sm-9 col-xs-4">
          
             <div google-chart chart="chart" style="border:0px inset black;padding:2px;width:300px">   </div>
      
       </div>
       
       
    
</div>

</body>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/client/client.js"></script>
    <script src="/bower_components/angular-google-chart/ng-google-chart.js"></script>

 
   


   
   
 
    
    
</html>

