<!DOCTYPE html>
<html lang="en">
 
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
 <script type="text/javascript" src="index.js"></script>   
   
   
<head>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Timestamp Microservice</title>
</head>
<body ng-app="ngRepeat" >
  
<div class="container" ng-controller="listController" >
    We have {{friends.length}} friends. They are:
    <input type="search" ng-model="q" placeholder="filter friends..." aria-label="filter friends" />
 `  <ul class="example-animate-container">
        <li class="animate-repeat" ng-repeat="friend in friends | filter:q as results">
          [{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old.
        </li>
        <li class="animate-repeat" ng-if="results.length == 0">
          <strong>No results found...</strong>
        </li>
    </ul>
      
      <button action="/pools/post" method="post">Add New Poll</button>

        

</div>

<div class="container" ng-controller="voteController">
    <h1 class="header">Favourite Cars</h1>
    <p>I'm voting for:</p>
    <select>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
   </select> 
   <button ng-click="vote()">Vote</button>
   
</div>
   
   
</div>

 
<script>
 

angular.module('ngRepeat', ['ngAnimate']).controller('listController', function($scope) {
  $scope.friends = [
    {name:'John', age:25, gender:'boy'},
    {name:'Jessie', age:30, gender:'girl'},
    {name:'Johanna', age:28, gender:'girl'},
    {name:'Joy', age:15, gender:'girl'},
    {name:'Mary', age:28, gender:'girl'},
    {name:'Peter', age:95, gender:'boy'},
    {name:'Sebastian', age:50, gender:'boy'},
    {name:'Erika', age:27, gender:'girl'},
    {name:'Patrick', age:40, gender:'boy'},
    {name:'Samantha', age:60, gender:'girl'}
  ];
});

</script>

 
</body>
</html>

